<div class="row">
    <div class="col-md-3">


    </div>
    <div class="col-md-6">
        <h2>Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" formControlName="username" class="form-control" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" />
            </div>
            <br>
            <div class="form-group">
                <button class="btn btn-primary">
                    Login Abhilash Comit
                </button>
            </div>
        </form>

    </div>
    <div class="col-md-3">


    </div>
    <div>