<br>
<div class="alert alert-info">
    <strong>User LogeedIn : </strong> {{userKey}}
</div>

<div *ngFor="let item of items">
    <div class="row">
        <div class="col">
            <label class="form-control">Available : {{item.key}}</label>
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Message" [(ngModel)]="item.message">
        </div>
        <div class="col">
            <button (click)="NotifyUser(item)" [disabled]="item.key==userKey" type="button" class="btn btn-primary mb-2">Notify</button>
        </div>
    </div>
</div>